<div class="container">
  <div class="pt-4">
    <h1>Image Sharer</h1>
    <h3> Welcome to the Image Sharer App!</h3>
  </div>
  <div class=" pt-4">
    <div class="pull-right">
      <%= link_to "Submit an image URL", new_image_path, class: "btn btn-dark" %>
    </div>
  </div>

  <div class="image_card pt-4">
    <div class="row">
      <% @images.each do |img| %>
        <div class="image_card--card col-md-4 mt-2">
          <%= image_tag(img.url, class: 'image_format card-img-top') %>
          <div class="pt-2 pb-2 ">
            <% img.tag_list.each do |tag| %>
              <%= link_to tag, images_path(tag: tag), class: 'card-link' %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
